.barWidth0 { width: 0%; }
.barWidth1 { width: 1%; }
.barWidth2 { width: 2%; }
.barWidth3 { width: 3%; }
.barWidth4 { width: 4%; }
.barWidth5 { width: 5%; }
.barWidth6 { width: 6%; }
.barWidth7 { width: 7%; }
.barWidth8 { width: 8%; }
.barWidth9 { width: 9%; }
.barWidth10 { width: 10%; }
.barWidth11 { width: 11%; }
.barWidth12 { width: 12%; }
.barWidth13 { width: 13%; }
.barWidth14 { width: 14%; }
.barWidth15 { width: 15%; }
.barWidth16 { width: 16%; }
.barWidth17 { width: 17%; }
.barWidth18 { width: 18%; }
.barWidth19 { width: 19%; }
.barWidth20 { width: 20%; }
.barWidth21 { width: 21%; }
.barWidth22 { width: 22%; }
.barWidth23 { width: 23%; }
.barWidth24 { width: 24%; }
.barWidth25 { width: 25%; }
.barWidth26 { width: 26%; }
.barWidth27 { width: 27%; }
.barWidth28 { width: 28%; }
.barWidth29 { width: 29%; }
.barWidth30 { width: 30%; }
.barWidth31 { width: 31%; }
.barWidth32 { width: 32%; }
.barWidth33 { width: 33%; }
.barWidth34 { width: 34%; }
.barWidth35 { width: 35%; }
.barWidth36 { width: 36%; }
.barWidth37 { width: 37%; }
.barWidth38 { width: 38%; }
.barWidth39 { width: 39%; }
.barWidth40 { width: 40%; }
.barWidth41 { width: 41%; }
.barWidth42 { width: 42%; }
.barWidth43 { width: 43%; }
.barWidth44 { width: 44%; }
.barWidth45 { width: 45%; }
.barWidth46 { width: 46%; }
.barWidth47 { width: 47%; }
.barWidth48 { width: 48%; }
.barWidth49 { width: 49%; }
.barWidth50 { width: 50%; }
.barWidth51 { width: 51%; }
.barWidth52 { width: 52%; }
.barWidth53 { width: 53%; }
.barWidth54 { width: 54%; }
.barWidth55 { width: 55%; }
.barWidth56 { width: 56%; }
.barWidth57 { width: 57%; }
.barWidth58 { width: 58%; }
.barWidth59 { width: 59%; }
.barWidth60 { width: 60%; }
.barWidth61 { width: 61%; }
.barWidth62 { width: 62%; }
.barWidth63 { width: 63%; }
.barWidth64 { width: 64%; }
.barWidth65 { width: 65%; }
.barWidth66 { width: 66%; }
.barWidth67 { width: 67%; }
.barWidth68 { width: 68%; }
.barWidth69 { width: 69%; }
.barWidth70 { width: 70%; }
.barWidth71 { width: 71%; }
.barWidth72 { width: 72%; }
.barWidth73 { width: 73%; }
.barWidth74 { width: 74%; }
.barWidth75 { width: 75%; }
.barWidth76 { width: 76%; }
.barWidth77 { width: 77%; }
.barWidth78 { width: 78%; }
.barWidth79 { width: 79%; }
.barWidth80 { width: 80%; }
.barWidth81 { width: 81%; }
.barWidth82 { width: 82%; }
.barWidth83 { width: 83%; }
.barWidth84 { width: 84%; }
.barWidth85 { width: 85%; }
.barWidth86 { width: 86%; }
.barWidth87 { width: 87%; }
.barWidth88 { width: 88%; }
.barWidth89 { width: 89%; }
.barWidth90 { width: 90%; }
.barWidth91 { width: 91%; }
.barWidth92 { width: 92%; }
.barWidth93 { width: 93%; }
.barWidth94 { width: 94%; }
.barWidth95 { width: 95%; }
.barWidth96 { width: 96%; }
.barWidth97 { width: 97%; }
.barWidth98 { width: 98%; }
.barWidth99 { width: 99%; }
.barWidth100 { width: 100%; }
